html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Pangolin';
    font-size: large;
    line-height: 30px;
    color: #5e5e5e;
}   

header {   
    z-index: 2; 
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, #f46b45, #eea849);
    color: #FFF;
    text-shadow: #E0CCC2 0 0 5px;
    height: 90px;
    width: 100%;
}

.menu > li > a {
    color: #FFF;
    text-shadow: #E0CCC2 0 0 5px;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-right: 10px;
}

.menu > li {
    margin-left: 1em;
    margin-right: 1em;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

#menu-checkbox {
    visibility: hidden;
}

.menu-button, .menu-button::before, .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-checkbox:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
}

#menu-checkbox:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-checkbox:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 90px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .menu > li {
        display: flex;
        justify-content: center;
        width: 100%;
        color: white;
        background: linear-gradient(to left, #eea849, #f46b45);
    }

    #menu-checkbox ~ .menu > li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-checkbox:checked ~ .menu > li {
        border: 1px solid #f46b45;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .base-image {
        width: 80%;
        height: 80%;
    }

    iframe {
        width: 90%;
    }

    .report-textarea {
        width: 60%;
    }

    .footer {
        font-size: small;
    }
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 100px;
}

.footer {
    background: linear-gradient(to left, #f46b45, #eea849);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 70px; 
    position: relative;
    bottom: 0px; 
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -8px;
}

div {
    display: block;
}

#copyright, #footer-link1, #footer-link2 {
    color: white;
    text-shadow: #E0CCC2 0 0 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.logo-text {
    margin: 20px 20px;
}

a:hover {
    background-color: #f3dcbc;
    border-radius: 40px 40px;
}

a:link {
    color: #1f1f1f;
}

a:visited {
    color:#d56343;
}

a:active {
    color: #7D300D;
}

.base-image {
    display: block;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

iframe {
    display: block;
    margin: auto;
    padding-top: 10px;
}

input {
    border-radius: 4px;
}

fieldset {
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 35%;
    border-color: #eeb96f;
}

#reportbtn {
    font-size: 18px;
    background-color: #eea849;
    color: white;
    border-color: #f46b45;
    font-family: 'Pangolin';
    border-radius: 15px;
}

#reporttext {
    margin-right: 3px;
    border-radius: 5px;
}

#phonenum::placeholder {
    color:#eea849;
}

#city-select {
    font-size: 16px;
    border-radius: 5px;
    color: #5e5e5e;
    font-family: 'Pangolin';
    border-width: 2px;
}

#city-select:focus {
    border-color: #f46b45;
}

#files {
    font-size: 16px;
    font-family: 'Pangolin';
}

#reportform {
    display: flex;
}

.grid-container {
    columns: 4 290px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
}

.grid-item {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px grey;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    transition: all .25s ease-in-out;
}

.grid-item:hover img {
    filter: grayscale(0);
}

.grid-item:hover {
    border-color: #d56343;
}

.grid-image {
    z-index: 1;
    width: 100%;
    filter: grayscale(100%);
    border-radius: 5px;
    transition: all .25s ease-in-out;
}

.page-links {
    display: block;
    margin: auto;
    text-align: center;
}